.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      %h3.side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to new_group_path, class: "icons-edit" do
          %i.icon.far.fa-edit
        = link_to edit_user_path(current_user) do
          %i.icon.fa.fa-cog

  .side-bar__group-list
    - current_user.groups.each do |group|
      .link__group
        = link_to "#", class: "link" do
          .link__group__name
            = group.name
          .link__group__message
            まだメッセージはありません

          
   
