.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      %h3.side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to "#", class: "edit" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog

  .side-bar__group-list
    = link_to "#", class: "link" do
      .link__group
        .link__group__name
          TECH::CAMP 
        .link__group__message
          まだメッセージはありません
    = link_to "#", class: "link" do
      .link__group
        .link__group__name
          TECH::EXP
        .link__group__message
          まだメッセージはありませぬ
